<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parker Davis{% if title %} - {{title}} {% endif %}</title>
    {% set css %}
      {% include "css/reset.css" %}
      {% include "css/style.css" %}
    {% endset %}
    {# <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" /> #}

    {% if hasCodeSnippets %}
      <link rel="stylesheet" href="/css/prism.css">
    {% endif %}

    {% if hasCssBackground %}
      <style>
        {{ css | cssmin | safe }}
        {% asyncCssBackground "assets/images/mosaic-background.jpg", ".splash-bg" %}
      </style>
    {% endif %}

    {% if not description %}
      {% set description = "Portfolio site for Parker Davis" %}
    {% endif %}
    {% set socialImage = "https://parkerdavis.dev/assets/images/parkerdavissocial.jpg"%}

    <meta name="description" content="{{ description }}" />
    <link rel="canonical" href="https://parkerdavis.dev{{ page.url }}" />
    <meta name="robots" content="index, follow" />
    <!-- social -->
    <meta property="og:title" content="{% if title %}{{ title }} &middot; {% endif %}Parker Davis"/>
    <meta property="og:url" content="https://parkerdavis.dev{{ page.url }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{socialImage}}" />
    <meta property="og:type" content="website" />
    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:title" content="{% if title %}{{ title }} &middot; {% endif %}Birds Make Sound" />
    <meta name="twitter:site" content="@park_d" />
    <meta name="twitter:image" content="{{socialImage}}" />
    <meta name="twitter:creator" content="@park_d" />
  </head>
  <body>
    
    <nav class="top-nav{% if isProject %} isProject{% endif %}">
      <div class="nav-left">
          <a href="/"><h1>Parker Davis</h1></a>
      </div>
      <ul class="nav-right">
          <a href="/#projects"><li>Projects</li></a>
          <a href="/#contact"><li>Contact</li></a>
      </ul>
    </nav>

    {{ content | safe }}

  </body>
  {% if hasCodeSnippets %}
    <script src="/assets/prism.js"></script>
  {% endif %}
  {% if hasAnimation %}
    <script>
      const observer = new IntersectionObserver(entries => {
          entries.forEach(entry => {
              console.log(entry);
              if (entry.isIntersecting) {
                  entry.target.classList.add('activeAnimateOnce');
              }
          })
      });

      const aniElements = document.querySelectorAll(".animateOnce");

      aniElements.forEach(el => observer.observe(el));
    </script>
  {% endif %}
</html>
