<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parker Davis{% if title %} - {{title}} {% endif %}</title>
    <meta name="generator" content="{{ eleventy.generator }}">

    {% set css %}
      {% include "css/reset.css" %}
      {% include "css/style.css" %}
    {% endset %}
    {# <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" /> #}

    {% if hasCodeSnippets %}
      <link rel="stylesheet" href="/css/prism.css">
    {% endif %}

      <style>
        {{ css | cssmin | safe }}
        
        {% if hasCssBackground %}
          {% asyncCssBackground "assets/images/mosaic-background.jpg", ".splash-bg" %}
        {% endif %}
      </style>

    {% if not description %}
      {% set description = "Portfolio site for Parker Davis" %}
    {% endif %}
    {% set socialImage = "https://parkerdavis.dev/assets/images/parkerdavissocial.jpg"%}

    <meta name="description" content="{{ description }}" />
    <link rel="canonical" href="https://parkerdavis.dev{{ page.url }}" />
    <meta name="robots" content="index, follow" />
    <!-- social -->
    <meta property="og:title" content="{% if title %}{{ title }} &middot; {% endif %}Parker Davis"/>
    <meta property="og:url" content="https://parkerdavis.dev{{ page.url }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{socialImage}}" />
    <meta property="og:type" content="website" />
    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:title" content="{% if title %}{{ title }} &middot; {% endif %}Birds Make Sound" />
    <meta name="twitter:site" content="@park_d" />
    <meta name="twitter:image" content="{{socialImage}}" />
    <meta name="twitter:creator" content="@park_d" />

    {# <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setCookieDomain", "*.parkerdavis.dev"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://raincrownetlifyapp.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='//cdn.matomo.cloud/raincrownetlifyapp.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://raincrownetlifyapp.matomo.cloud/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code --> #}


  </head>
  <body>
    
    <nav class="top-nav{% if isProject %} isProject{% endif %}">
      <div class="nav-left">
          <a href="/"><h1>Parker Davis</h1></a>
      </div>
      <ul class="nav-right">
          <a href="/#projects"><li>Projects</li></a>
          <a href="/#contact"><li>Contact</li></a>
      </ul>
    </nav>

    {{ content | safe }}

  </body>
  {% if hasCodeSnippets %}
    <script src="/assets/prism.js"></script>
  {% endif %}
  {% if hasAnimation %}
    <script>
      const observer = new IntersectionObserver(entries => {
          entries.forEach(entry => {
              console.log(entry);
              if (entry.isIntersecting) {
                  entry.target.classList.add('activeAnimateOnce');
              }
          })
      });

      const aniElements = document.querySelectorAll(".animateOnce");

      aniElements.forEach(el => observer.observe(el));
    </script>
  {% endif %}
</html>
